<!DOCTYPE html>
<html>
<head>
    <title>Traductor</title>
<style>
    body {
      background-image: url("Imagen39.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
    
</head>
<body>
    
    <h1>ESTIMADOR DE INDICE DE BIODEGRADABILIDAD DE PLANTA DE TRATAMIENTO DE AGUAS RESIDUALES</h1>
    
    <!--<body style="background-color: LightBlue;"> -->

    <form method="POST">
        	<input type="number" name="text1" step="any" placeholder="Introduce DBOS" required>
		<input type="number" name="text2" step="any" placeholder="Introduce DQOS" required>
		<input type="number" name="text3" step="any" placeholder="Introduce RDDBOP" required>
		<input type="number" name="text4" step="any" placeholder="Introduce RDDBOS" required>
		<input type="number" name="text5" step="any" placeholder="Introduce RDDBOG" required>
		<input type="number" name="text6" step="any" placeholder="Introduce RDDQOS" required>
		<input type="number" name="text7" step="any" placeholder="Introduce RDDQOG" required>
        <input type="submit" value="Calcular Indice">
    </form>

    {% if indice %}
    <h2>Indice de Biodegradabilidad</h2>
    <p>{{ indice }}</p>
    {% endif %}

   <!-- {% if lang_detected %}
    <h2>Idioma de entrada detectado:</h2>
    <p>{{ lang_detected }}</p>
    {% endif %}-->
</body>
</html>
