<!DOCTYPE html>
<html>
<head>
    <title>Traductor</title>
    
</head>
<body>
    
    <h1>ESTIMADOR DE INDICE DE BIODEGRADABILIDAD DE PLANTA DE TRATAMIENTO DE AGUAS RESIDUALES</h1>
    
    <!--<body style="background-color: LightBlue;"> -->

    <form method="POST">
        <input type="text1" name="text1" placeholder="Introduce DBOS" required>
		<input type="text2" name="text2" placeholder="Introduce DQOS" required>
		<input type="text3" name="text3" placeholder="Introduce RDDBOP" required>
		<input type="text4" name="text4" placeholder="Introduce RDDBOS" required>
		<input type="text5" name="text5" placeholder="Introduce RDDBOG" required>
		<input type="text6" name="text6" placeholder="Introduce RDDQOS" required>
		<input type="text7" name="text7" placeholder="Introduce RDDQOG" required>
        <input type="submit" value="Calcular Indice">
    </form>

    {% if indice %}
    <h2>Indice de Biodegradabilidad:</h2>
    <p>{{ indice }}</p>
    {% endif %}

   <!-- {% if lang_detected %}
    <h2>Idioma de entrada detectado:</h2>
    <p>{{ lang_detected }}</p>
    {% endif %}-->
</body>
</html>
